{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true,
    "es2016": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "project": "./tsconfig.json",
    "sourceType": "module",
    "createDefaultProgram": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:import/typescript",
    "prettier",
    "typescript",
    "typescript/prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "import",
    "prettier"
  ],
  "rules": {
    "max-len": [
      "error",
      {
        "code": 140
      }
    ],
    "prettier/prettier": "error",
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single"
    ]
  }
}